body {
  font-family: monospace;
  background-color: #000;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#terminal {
  width: 80%;
  border: none;
  padding: 10px;
  overflow: auto;
}

#screen {
  white-space: pre-wrap; /* Preserve newlines */
}

#cursor {
  animation: blink 0.5s step-end infinite;
}

@keyframes blink {
  from, to {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

#userInput {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  width: 100%;
}
