/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

/* Container styles */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
}

header h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

header p {
    font-size: 1.2em;
}

/* Navigation styles */
.navbar {
    background-color: #343a40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #343a40;
}

/* Dark Mode Toggle Switch styles */
.dark-mode-switch {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #343a40;
}

input:focus + .slider {
    box-shadow: 0 0 1px #343a40;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Styles for the Dark Mode label */
.dark-mode-label {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
}


/* Content section styles */
.tab-content {
    margin: 50px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3e4a55;
}

/* Add more styles for other sections as needed */

/* ... Other existing styles ... */
